    <div class="container-fluid">
      <div class="row">
        <div class="col text-center admin-header">
          <a href="/admin">
            <img src="/images/logo.png" alt="rulings.law - the free, searchable database of California tentative rulings" class="logo-image" title="rulings.law - the free, searchable database of California tentative rulings">
          </a>
        </div>
      </div>
    </div>