<div class="admin sidenav">
  <a href="/admin">
    <img src="/images/logowhite.png" alt="rulings.law - the free, searchable database of California tentative rulings" class="w-100 logo" title="rulings.law - the free, searchable database of California tentative rulings">
  </a>
  <hr style="border-color:white">
  <div class="links-container">
      <div class="parent-cont">
          <a href="/admin">
            <i class="fas fa-angle-right    "></i> Home
          </a>
        </div>
    <div class="parent-cont">
      <a data-toggle="collapse" href="#scraper" aria-expanded="false" aria-controls="scraper" class="">
        <i class="fas fa-angle-right"></i> Database
      </a>
    </div>
    <div class="child-cont collapse show" id="scraper">
      <a href="/admin/botslogs"><i class="fas fa-history"></i> Bots Logs</a>
      <a href="/admin/dbstats"><i class="fas fa-info-circle    "></i> Database Stats</a>
      <a href="/admin/rulings"><i class="fas fa-file-alt    "></i> Rulings</a>
      <a href="/admin/courthouses"><i class="fas fa-school    "></i> Courthouses</a>
      <a href="/admin/judges"><i class="fas fa-users    "></i> Judges</a>
      <a href="/admin/judges/addjudge"><i class="fas fa-plus    "></i> Add Judge</a>
      <a href="/admin/courthouses/addcourthouse"><i class="fas fa-plus    "></i> Add Courthouse</a>
      <a href="/admin/departments/adddepartment"><i class="fas fa-plus    "></i> Add Department</a>
      <!-- <a href="/admin/rulings/addrulings"><i class="fas fa-plus    "></i> Add Rulings</a> -->
    </div>

    <div class="parent-cont">
      <a data-toggle="collapse" href="#pages" aria-expanded="false" aria-controls="pages">
        <i class="fas fa-angle-right"></i> Pages
      </a>
    </div>
    <div class="child-cont collapse" id="pages">
      <a href="/admin/pages/judge-profiles"><i class="fas fa-users"></i> Judge Profiles</a>
      <a href="/admin/pages/faq"><i class="fas fa-question"></i> FAQ</a>
      <a href="/admin/pages/home"><i class="fas fa-home"></i> Home Page</a>
    </div>

    <div class="parent-cont">
        <a data-toggle="collapse" href="#users" aria-expanded="false" aria-controls="users">
          <i class="fas fa-angle-right    "></i> Users
        </a>
      </div>
      <div class="child-cont collapse" id="users">
        <a href="/admin/admins"><i class="fas fa-user    "></i> Admins</a>
        <a href="/admin/subscribers"><i class="fas fa-users    "></i> Subscribers</a>
        <a href="/admin/messages"><i class="fas fa-envelope-open-text    "></i> Messages</a>
      </div>

      <div class="parent-cont">
          <a data-toggle="collapse" href="#account" aria-expanded="false" aria-controls="account">
            <i class="fas fa-angle-right    "></i> Account
          </a>
        </div>
        <div class="child-cont collapse" id="account">
          <a href="/admin/editprofile"><i class="fas fa-user"></i> Edit Profile</a>
          <a href="/admin/changepassword"><i class="fas fa-user-lock"></i> Change Password</a>
          <a href="/admin/logout"><i class="fas fa-user-alt-slash"></i>Logout</a>
        </div>
  </div>
</div>