<footer class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="footer-container" style="margin: 0">
          <div class="left">
            <i class="fas fa-copyright"></i> 2019 <strong>rulings.law LLC</strong>, All Rights Reserved.
          </div>
          <div class="right">
            <ul>
              <li><a href="/contactus" class="footer-link ">Contact Us</a></li>
              <span class="seperator">|</span>
              <li><a href="/faq" class="footer-link ">FAQ</a></li>
              <span class="seperator">|</span>
              <li><a href="/terms" class="footer-link ">Terms of Use</a></li>
              <span class="seperator">|</span>
              <li><a href="/privacypolicy" class="footer-link ">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>