<!DOCTYPE html>
<html lang="en">
  <head>
    <title>rulings.law - Superior Court of California Tentative Rulings Database</title>
    <%- include ("commonpartials/commonhead") %>
    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>
  <body>
    <div class="body-container d-flex align-items-center justify-content-center text-center" style="min-height: 100vh">
      <div class="content">
        <img
          src="/images/logo.png"
          alt="rulings.law - the free, searchable database of California tentative rulings"
          class="home-page-logo mb-4 d-block mx-auto"
          title="rulings.law - the free, searchable database of California tentative rulings"
        />
        <h1 class="mt-4 mb-2">The site is under construction!</h1>
        <h2>We will be back soon</h2>
      </div>
    </div>
    <%- include ("commonpartials/commonscripts") %>
  </body>
</html>
