<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../commonpartials/commonhead") %>
    <link rel="stylesheet" href="/stylesheets/access.css">
  </head>
  <body>
    <div class="body-container welcome-body-container container">
      <div class="row">
        <div class="col-sm-6 m-auto text-center">
            <h1>
              <a href="/" class="rllink-primary">
                <img src="/images/logo.png" alt="rulings.law - the free, searchable database of California tentative rulings" class="welcome-logo" title="rulings.law - the free, searchable database of California tentative rulings">
              </a>
            </h1>
            <div class="row">
                <div class="col-sm-6">
                    <a href="/users/login" class="btn rlbtn rlbtn-primary welcome-button">Login</a>
                </div>
                <div class="col-sm-6">
                      <a href="/users/register" class="btn rlbtn rlbtn-success welcome-button">Register</a>
                </div>
              </div>
        </div>
      </div>
    </div>
      <%- include ("partials/footer") %>
      <%- include ("../commonpartials/commonscripts") %>
    </body>
    </html>
    
    