<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../commonpartials/commonhead") %>
    <link rel="stylesheet" href="/stylesheets/lc.css">
  </head>
  <body>
    <div class="body-container welcome-body-container container">
      <div class="row">
        <div class="col-sm-6 m-auto text-center">
          <h1>
            <a href="/"  class="rllink-primary">
              <img src="/images/logo.png" alt="rulings.law - the free, searchable database of California tentative rulings" class="welcome-logo" title="rulings.law - the free, searchable database of California tentative rulings">
            </a>
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="col text-center">
          <h1 class="text-center mb-3 rltext-primary mt-2 mb-5">Frequently Asked Questions</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 mx-auto">
          <%- include ("../commonpartials/faq") %>
        </div>
      </div>

    </div>
      <%- include ("partials/footer") %>
      <%- include ("../commonpartials/commonscripts") %>
    </body>
    </html>
    
    